h1{
    color: #D04F4F;
    font-weight: 500;
    font-size: 2em;
   /* line-height: 47px;*/
}
.main-search {
    position: relative;
  
    width: 90vw;
    background: #e7e7e7;
  }
  input#search {
    padding: 14px;
}
  .fa-search {
    position: relative;
    right: 39px;
    top: 4px;
}

/*search*/
.fa-search {
  position: relative;
  left: -20px;
}
/*dropdown*/
.dropdown-form {
  display: none;
  width: 40%;
  height:70px;
}
.dropdown-form-active,
.dropdown-form-active:focus {
  display: block;
  position: absolute;
  width: 630px;
  left: 0;

  background-color: transparent;
  border: none;
  color: white;
  box-shadow: none;
}
.dropdown-form-active::placeholder {
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  color: #ffffff;
  opacity: 0.5;
}
.dropdown-form-20 {
  width: 410px;
}
.dropdown-form-10 {
  width: 200px;
}
.dropdown-container {
  position: relative;
}
.dropdown-list {
  display: none;
}
.dropdown-list li {
  width: 200px;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  margin: 5px 0;
}
.dropdown-list li:hover {
  font-size: 20px;
}
.dropdown-list-active {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 670px;

  top: 68px;
  left: 0;
  padding: 3%;
}

.btn {
  margin-right: 2vw;
  padding: 22px 20px;
}

/*styling buttons */
.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:visited,
.btn-success:focus,
.dropdown-list-appareil {
  background-color: #68d9a4;
  border-color: #68d9a4;
  box-shadow: none;
  color: #ffffff;
}
.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:visited,
.btn-danger:focus,
.dropdown-list-ustensiles {
  background-color: #ed6454;
  border-color: #ed6454;
  box-shadow: none;
  color: #ffffff;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus,
.dropdown-list-ingredients {
  background-color: #007bff;
  box-shadow: none;
  color: #ffffff;
}

.dropdown-20 {
  width: 450px;
}
.dropdown-10 {
  width: 250px;
}
.fa-chevron-down {
  margin-left: 30px;
}
/* main */
main {
  margin-top: 4vh;
}
article {
  border-radius: 5px;
  height: 364px;
  width: 380px;
  overflow: hidden;
  margin: 1vh 1vw;
}
.recipe-img {
  height: 178px;
  width: 380px;
  background: #c7bebe;
}

.recipe {
  background: #e7e7e7;
  padding: 5% 5%;
  height: 100%;
}

.recipe h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  margin: 0;
  white-space: nowrap;
}
.recipe h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  margin: 0;
}










